@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

/* 
SOME SUGGESTED CSS STYLING
* {
  direction: rtl;
} */

/* 
SOME SUGGESTED CSS STYLING
#root {
  width: 100vw;
  min-height: 100vh;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Button COMPONENT CONFIGURATION */
.button-primary-theme {
  @apply btn btn-primary;
}

.button-secondary-theme {
  @apply btn btn-secondary;
}

/* TextInput COMPONENT CONFIGURATION */
.input-label-theme {
  @apply input input-bordered flex items-center gap-2;
}

.input-input-theme {
  @apply grow;
}

.error-text {
  @apply text-error;
}

/* ModalWrapper COMPONENT CONFIGURATION */
.modal {
  @apply relative pt-lg pr-md pb-md p-md shadow-lg rounded-lg;
}

.modal-box {
  @apply pt-2;
}

.modal-close-btn {
  @apply absolute top-2 left-4;
}

/* Accordion COMPONENT CONFIGURATION */
.collapse-title {
  @apply bg-primary p-2 rounded-t-lg;
}

.collapse-content {
  @apply bg-primary-content rounded-b-lg;
}

/* Navbar COMPONENT CONFIGURATION */
.navbar-custom {
  @apply navbar bg-base-100
}

.navbar-custom-start {
  @apply navbar-start
}

.navbar-custom-end {
  @apply navbar-end hidden lg:flex
}

/* Footer COMPONENT CONFIGURATION */
.footer {
  @apply flex items-center flex-col justify-between bg-base-200 text-base-content p-10;
}

.footer>section {
  @apply flex items-center flex-col md:flex-row justify-between w-full;
}

.footer>section>nav {
  @apply flex items-start flex-col justify-between;
}