@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
SOME SUGGESTED CSS STYLING
* {
  direction: rtl;
} */

/* #root {
  width: 100vw;
  min-height: 100vh;
} */

/* MAIN ELEMENTS STYLING */
body {
  @apply min-h-[100vh] flex flex-col;
}

main {
  @apply flex flex-grow;
}

/* ALL SHADOWS */

/* GLOBAL STANDARD SPACING PADDING AND MARGIN */
.standard-horizontal-padding {
  @apply px-standard-phone md:px-standard-tablet lg:px-standard-laptop;
}

/* COMMON IN INPUTS */
.custom-label-text {
  @apply text-primary-content cursor-pointer label;
}

.custom-error-message {
  @apply text-error text-xs font-bold;
}

.custom-error-label {
  @apply text-error;
}
